
<div class="modal-header">
    <h4 class="modal-title" style="color: black">New User? Create an Account</h4>
    <button type="button" class="close" aria-label="Close">
    </button>
  </div>
  <form> <br>
    <div class="modal-boy">
      <div class="container" style="color:black !important">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="first" #first required/>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="last" #last required/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" #email required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="pass" #pass required/>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control">
        </div>
    </div> <br>
    <div class="modal-footer">
      <div *ngIf="createRespMsg === successMsg">
        <p style="color:green">{{createRespMsg}}</p>
      </div>
      <div *ngIf="createRespMsg === errorMsg">
          <p style="color:red">{{createRespMsg}}</p>
        </div>
      <button style="width: 35%" class="btn btn-success" (click)="add(first.value, last.value, email.value, pass.value);">
        Submit Form
      </button>
    </div>
  </div>
  </form>
