<div class="modal-header">
  <h4 class="modal-title" style="color: black">Have an account already? Login below!</h4>
  <button type="button" class="close" aria-label="Close">
  </button>
</div>
<form>
  <div class="modal-boy">
    <div class="container">
        <label for="elemail">Email</label>
        <input type="text" class="form-control" name="elemail" #elemail required/>
        <label for="elpassword">Password</label>
        <input type="password" class="form-control" name="elpassword" #elpassword required/>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click) ="addLoginInfo(elemail.value, elpassword.value);">
      Login
    </button>
  </div>
</form>