<div class="modal-header">
  <h4 class="modal-title" style="color: black">Have an account already? Login below!</h4>
  <button type="button" class="close" aria-label="Close">
  </button>
</div>
<form>
  <div class="modal-boy"> <br>
    <div class="container" style="color:black !important">
      <div class="form-group">
        <label for="elemail">Email</label>
        <input type="email" class="form-control" name="elemail" #elemail required/>
      </div>
      <div class="form-group">
        <label for="elpassword">Password</label>
        <input type="password" class="form-control" name="elpassword" #elpassword required/>
      </div>
      </div>
  </div> <br>
  <div class="modal-footer">
      <div *ngIf="message === sucMsg">
          <p style="color:green">{{message}}</p>
        </div>
        <div *ngIf="message === errMsg">
            <p style="color:red">{{message}}</p>
          </div>
    <button class="btn btn-success" (click) ="addLoginInfo(elemail.value, elpassword.value);">
      Login
    </button>
  </div>
</form>