<div class="modal-header">
    <h4 class="modal-title" style="color: black">Please enter your password to confirm deletion of your account.</h4>
    <button type="button" class="close" aria-label="Close">
    </button>
  </div>
  <form> <br>
    <div class="modal-boy">
      <div class="container" style="color:black !important">
        <div class="form-group">
          <label for="deletePW">Password</label>
          <input type="password" class="form-control" name="deletePW" #deletePW required/>
        </div>
        <div class="form-group">
          <label for="deletePW">Confirm Password</label>
          <input type="password" class="form-control" name="deletePW" #deletePW2 required/>
        </div>
        </div>
    </div> <br>
    <div class="modal-footer">
      <div *ngIf="delModalMessage === deleted">
          <p style="color:green">{{delModalMessage}}</p>
      </div>
      <div *ngIf="delModalMessage === errorMsg">
          <p style="color:red">{{delModalMessage}}</p>
      </div>
      <div *ngIf="delModalMessage === wrongPW">
          <p style="color:red">{{delModalMessage}}</p>
      </div>
      <button class="btn btn-danger" (click)="deleteUser(deletePW.value, deletePW2.value)">
        Delete
      </button>
    </div>
  </form>