
<div class="content-center">
  <div class="row row-grid justify-content-between align-items-center text-left">
    <div class="col-lg-6 col-md-6">
      <h1 class="text-white">Fortune of the day:
        <br />
        <span class="text-white"></span>
      </h1>

      <div class="btn-wrapper mb-3">
        <a href="#blk" class="btn btn-success btn-link btn-sm"></a>
      </div>
      <div class="btn-wrapper">
        <div class="button-container">
          <button href="" class="btn btn-icon btn-simple btn-round btn-neutral">
            <i class="fab fa-twitter"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5">
      <img src="../assets/img/etherum.png" alt="Circle image" class="img-fluid">
    </div>
  </div>
</div>
