<div class="content-center">
  <div class="row row-grid justify-content-between align-items-center text-left">
    <div class="col-lg-6 col-md-6">
      <h1 class="text-white">Fortune of the Day:
        <br/>
        <span class="text-white"></span>
      </h1>
      
      <div class="btn-wrapper mb-3">
        <p>{{todaysFortune}}</p>
      </div>

    </div>
    <div class="col-lg-4 col-md-5">
      <img src="../../../assets/img/etherum.png" alt="Circle image" class="img-fluid">
    </div>
  </div>
</div>