<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello World!</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- BLK• CSS -->
  <link type="text/css" href="../assets/css/blk-design-system.min.css" rel="stylesheet">
</head>
<body class="landing-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip" title="Designed and Coded by Vijay, Peyton, and Andrew" data-placement="bottom" target="_blank">
            <span>• Project FortuneX •</span>
          </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a>
                  Project FortuneX •
                </a>
              </div>
              <div class="col-6 collapse-close text-right">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item p-0">
              <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                <i class="fab fa-twitter"></i>
                <p class="d-lg-none d-xl-none">Twitter</p>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create an Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Log-In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
      <div class="page-header">
        <img src="../assets/img/blob.png" class="path">
        <img src="../assets/img/path2.png" class="path2">
        <img src="../assets/img/triunghiuri.png" class="shapes triangle">
        <img src="../assets/img/waves.png" class="shapes wave">
        <img src="../assets/img/patrat.png" class="shapes squares">
        <img src="../assets/img/cercuri.png" class="shapes circle">
        <div class="content-center">
          <div class="row row-grid justify-content-between align-items-center text-left">
            <div class="col-lg-6 col-md-6">
              <h1 class="text-white">Here's your fortune:
                <br/>
                <span class="text-white"></span>
              </h1>
              
              <div class="btn-wrapper mb-3">
                <a href="#blk" class="btn btn-success btn-link btn-sm"></a>
              </div>
              <div class="btn-wrapper">
                <div class="button-container">
                  <button href="" class="btn btn-icon btn-simple btn-round btn-neutral">
                    <i class="fab fa-twitter"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <img src="../assets/img/etherum.png" alt="Circle image" class="img-fluid">
            </div>
          </div>
        </div>
    </div>

        
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h1 class="title">Project FortuneX •</h1>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="../index.html" class="nav-link">
                    Home
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://creative-tim.com/contact-us" class="nav-link">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="title">Follow us:</h3>
              <div class="btn-wrapper profile">
                <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                  <i class="fab fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

  <!-- Core -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>

  <!-- Optional plugins -->
  <!-- <script src="/assets/vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js"></script> -->

  <!-- BLK• JS -->
  <script src="../assets/js/blk-design-system.js"></script>
  <router-outlet></router-outlet>
  </body>
</html>
