<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Project FortuneX</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- BLK• CSS -->
  <link type="text/css" href="../assets/css/blk-design-system.min.css" rel="stylesheet">
</head>
<body class="landing-page">
    <!-- Navbar -->
    
    <!-- End Navbar -->
    <div class="wrapper">
      <div class="page-header">
        <img src="../assets/img/blob.png" class="path">
        <img src="../assets/img/path2.png" class="path2">
        <img src="../assets/img/triunghiuri.png" class="shapes triangle">
        <img src="../assets/img/waves.png" class="shapes wave">
        <img src="../assets/img/patrat.png" class="shapes squares">
        <img src="../assets/img/cercuri.png" class="shapes circle">
        <router-outlet></router-outlet>
      </div>
    </div>

  <!-- Core -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>

  <!-- Optional plugins -->
  <!-- <script src="/assets/vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js"></script> -->

  <!-- BLK• JS -->
  <script src="../assets/js/blk-design-system.js"></script>
  </body>
</html>

