<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>Project FortuneX</title>
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
  
    <!-- Icons -->
    <link href="../../../assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  
    <!-- BLK• CSS -->
    <link type="text/css" href="../../../assets/css/blk-design-system.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <li class="nav-item dropdown">
          <a class="navbar-brand nav-link" title="Designed and Coded by Vijay, Peyton, and Andrew" id="navbarDropdownMenuLink" data-toggle="dropdown">
            <span id="projectTitle">• Project FortuneX •</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="toggleProfile()" style="color: black"><i class="tim-icons icon-single-02"></i> {{userFirstName}}'s Profile</a>
            <a class="dropdown-item" (click)="toggleDelete()" style="color: black"><i class="tim-icons icon-button-power"></i>Delete My Account</a>
          </div>
        </li>
        <app-modalview [show]="showProfile"  [customClass]="'custom_modal_class'" [closeCallback]="toggleProfile">
            <app-profileinfo></app-profileinfo>
        </app-modalview>
        <app-modalview [show]="showDeleteMenu"  [customClass]="'custom_modal_class'" [closeCallback]="toggleDelete">
            <app-deletemodal></app-deletemodal>
        </app-modalview>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1">Test</span>
          <span class="navbar-toggler-bar bar2">Test1</span>
          <span class="navbar-toggler-bar bar3">Test2</span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                Project FortuneX •
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn" (click)="goDash()">Dashboard Home</button>
          </li>
          <li class="nav-item">
              <button type="button" class="btn" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="content-center">
    <h3>Your saved fortunes</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="width: 30rem; margin: auto; margin-top:2%" *ngFor="let fort of fortune">
              <div class="card" id = {{fort.id}}>
                <div class="card-body">
                <!-- <span style="display:inline"> -->
                <p class="card-text">{{fort.message}} <i (click)="deleteFortune(fort.id)" style="float: right; margin: 2%; margin-bottom: 0% !important; color: #525f7f;" class="tim-icons icon-trash-simple"></i></p>
                <!-- </span> -->
                </div>
              </div>
            </div>
      </div>
    </div>
    <!-- </div> -->
</div>


<!-- <li class="nav-item dropdown">
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <button type="button" class="btn dropbtn" (click)="toggleProfile()">{{userFirstName}}'s Information</button> 
      <a class="dropdown-item" (click)="toggleProfile()" style="color: black">{{userFirstName}}'s Profile</a>
    </div>
</li>
<app-modalview [show]="showProfile"  [customClass]="'custom_modal_class'" [closeCallback]="toggleProfile">
    <app-profileinfo></app-profileinfo>
</app-modalview> -->