html, body{
    height: 100% !important;
}

.icon-trash-simple:hover {
    color: red !important;
    cursor: pointer;
}

a {
    cursor: pointer;
}

li {

    list-style-type: none;
      
}

.content-center {
    overflow-y: auto;
}

#projectTitle {
    size: 30pt;
}
